html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  background-color: black;
}

.carousel {
height: 645px;
position: relative;
margin-bottom: 0;
padding-bottom: 0;
}

.carousel-inner {
overflow: hidden;
position: relative;
margin: 0px auto;
}

.item img {
min-height: 100%;
margin: 0px auto;
padding:10px;
border:1px solid black;
background:white;
-ms-interpolation-mode: bicubic;
}

